    <!-- Contact Section -->
    <section id="contact" class="contact">
      <div class="container">
        <h2 class="section-title">Let's Work Together</h2>
        <div class="contact-content">
          <p class="contact-description">
            Saya sangat terbuka untuk kesempatan magang dan kolaborasi project.
            Thanks for your interest!
          </p>
          <div class="contact-buttons">
            <a href="https://wa.me/+6289617421374" class="btn btn-primary"
              >Contact Me Now</a
            >
            <a
              href="https://drive.google.com/file/d/1owvL1mx_tX7MVTiR_PA_j6ulVerQPIzw/view?usp=sharing"
              class="btn btn-secondary"
              target="_blank"
              >Download CV</a
            >
          </div>
        </div>
      </div>
    </section>
