    <!-- Hero Section -->
    <section id="home" class="hero">
      <div class="container">
        <div class="hero-content">
          <div class="hero-text">
            <h1 class="hero-title">
              Hi, I'm <span class="gradient-text">Muhammad Nur Aziz</span>
            </h1>
            <p class="hero-subtitle">UI/UX Designer & Frontend Developer</p>
            <p class="hero-description">
              I solve problems and turn them into smooth, enjoyable digital
              experiences
            </p>
            <div class="hero-buttons">
              <a href="#about" class="btn btn-primary">Get Start</a>
              <a
                href="https://drive.google.com/file/d/13O5QmFjvmmNpgl_InmRq5y8SFgMVjkuF/view?usp=sharing"
                class="btn btn-secondary"
                target="_blank"
                >Download CV</a
              >
            </div>
          </div>
          <div class="hero-image">
            <div class="image-placeholder">
              <img src="./img/ppdem2.webp" alt="Muhammad Nur Aziz" />
            </div>
          </div>
        </div>
      </div>
    </section>
