    <!-- Projects Section -->
    <section id="projects" class="projects">
      <div class="container">
        <h2 class="section-title">My Projects</h2>
        <div class="projects-carousel">
          <div class="carousel-wrapper">
            <div class="projects-container">
              <!-- Project 1 -->
              <div class="project-card-carousel">
                <div class="project-content">
                  <span class="project-label">UI/UX</span>
                  <h3 class="project-title">UI/UX Loopz</h3>
                  <p class="project-description">
                    Loopz adalah sebuah website pemutar musik yang dirancang
                    untuk memberikan pengalaman mendengarkan lagu secara mudah
                    dan menyenangkan, mirip dengan Spotify. Pengguna dapat
                    menjelajahi berbagai genre musik, membuat playlist pribadi,
                    dan memutar lagu favorit kapan pun secara online.
                  </p>
                  <div class="project-tags">
                    <span class="tag">UI/UX Design</span>
                    <span class="tag">Music Platform</span>
                    <span class="tag">Figma</span>
                  </div>
                  <!-- <a href="#" class="view-case-study">View case study ></a> -->
                </div>
                <div class="project-image-carousel">
                  <img src="./img/loops.webp" alt="Preview Loopz" />
                </div>
              </div>

              <!-- Project 2 -->
              <div class="project-card-carousel">
                <div class="project-content">
                  <span class="project-label">UI/UX</span>
                  <h3 class="project-title">UI/UX Eazy Creative</h3>
                  <p class="project-description">
                    Eazy Creative adalah sebuah website yang dirancang untuk
                    menampilkan dan mengelola berbagai artikel sesuai dengan
                    minat pengguna. Platform ini memungkinkan pengguna untuk
                    dengan mudah menulis, mengunggah, dan membaca artikel dari
                    berbagai kategori, seperti teknologi, desain, gaya hidup,
                    dan inspirasi kreatif.
                  </p>
                  <div class="project-tags">
                    <span class="tag">UI/UX Design</span>
                    <span class="tag">Content Platform</span>
                    <span class="tag">Figma</span>
                  </div>
                  <!-- <a href="#" class="view-case-study">View case study ></a> -->
                </div>
                <div class="project-image-carousel">
                  <img src="./img/ezcreative.webp" alt="Preview EzCrateive" />
                </div>
              </div>

              <!-- Project 3 -->
              <div class="project-card-carousel">
                <div class="project-content">
                  <span class="project-label">Web Laravel</span>
                  <h3 class="project-title">
                    Sistem Pencatatan Prestasi Mahasiswa (PRESMA)
                  </h3>
                  <p class="project-description">
                    Sistem Informasi Pencatatan Prestasi Mahasiswa adalah
                    platform berbasis web yang dirancang untuk mengelola data
                    prestasi mahasiswa secara terintegrasi dan otomatis. Sistem
                    ini dilengkapi dengan fitur rekomendasi peserta lomba
                    menggunakan metode Decision Support System (DSS) berdasarkan
                    prestasi, keterampilan, dan minat mahasiswa. Dengan
                    demikian, sistem ini membantu pihak akademik dalam seleksi
                    peserta kompetisi secara objektif.
                  </p>
                  <div class="project-tags">
                    <span class="tag">Web Platform</span>
                    <span class="tag">DSS</span>
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                    <span class="tag">PHP</span>
                    <span class="tag">Laravel</span>
                    <span class="tag">SQL</span>
                  </div>
                  <a
                    href="https://github.com/ren5602/PBL-PRESMA"
                    target="_blank"
                    class="view-case-study"
                    >View case study ></a
                  >
                </div>
                <div class="project-image-carousel">
                  <img src="./img/presma.webp" alt="Preview PRESMA" />
                </div>
              </div>

              <!-- Project 4 -->
              <div class="project-card-carousel">
                <div class="project-content">
                  <span class="project-label">Web Laravel</span>
                  <h3 class="project-title">
                    Sistem Informasi Bebas Tanggungan Tugas Akhir (SIBETA)
                  </h3>
                  <p class="project-description">
                    Sistem Informasi Bebas Tanggungan Tugas Akhir (Sibeta)
                    adalah platform semi-digital yang dikembangkan untuk
                    mempermudah mahasiswa Politeknik Negeri Malang dalam
                    memantau dan menyelesaikan tanggungan administrasi sebelum
                    sidang Tugas Akhir. Sistem ini meningkatkan efisiensi,
                    transparansi, dan akurasi proses administrasi dengan
                    menyediakan akses informasi real-time, notifikasi, serta
                    fitur interaksi dengan pihak administrasi.
                  </p>
                  <div class="project-tags">
                    <span class="tag">Web Platform</span>
                    <span class="tag">HTML</span>
                    <span class="tag">CSS</span>
                    <span class="tag">JavaScript</span>
                    <span class="tag">PHP</span>
                    <span class="tag">SQL</span>
                  </div>
                  <a
                    href="https://github.com/sukinnamz/Sistem-Informasi-Bebas-Tanggungan-TA"
                    target="_blank"
                    class="view-case-study"
                    >View case study ></a
                  >
                </div>
                <div class="project-image-carousel">
                  <img src="./img/sibeta.webp" alt="Preview Sibeta" />
                </div>
              </div>

              <!-- Project 5 -->
              <div class="project-card-carousel">
                <div class="project-content">
                  <span class="project-label">Mobile Apps</span>
                  <h3 class="project-title">Jawara Apps</h3>
                  <p class="project-description">
                    Jawara Apps adalah aplikasi mobile yang dirancang untuk
                    memudahkan pengelolaan data warga dan pencatatan pemasukan
                    secara digital. Dengan antarmuka yang sederhana dan fitur
                    yang terintegrasi, Jawara Apps membantu perangkat desa atau
                    pengurus komunitas mengatur informasi warga, memonitor
                    pemasukan, serta memastikan proses administrasi berjalan
                    lebih cepat, akurat, dan transparan.
                  </p>
                  <div class="project-tags">
                    <span class="tag">Mobile Apps</span>
                    <span class="tag">Flutter</span>
                    <span class="tag">Dart</span>
                    <span class="tag">PostgreSQL</span>
                  </div>
                  <a
                    href="https://github.com/ren5602/pbl_jawara_test"
                    target="_blank"
                    class="view-case-study"
                    >View case study ></a
                  >
                </div>
                <div class="project-image-carousel">
                  <img src="./img/jawara.webp" alt="Preview Jawara Apps" />
                </div>
              </div>
            </div>
          </div>

          <div class="carousel-controls">
            <button class="carousel-btn prev" id="prevBtn">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button class="carousel-btn next" id="nextBtn">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
        </div>
      </div>
    </section>
